{% extends "common/base.html" %}

{% block html_head %}
	<link rel="stylesheet" href="/static/search/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/static/frontpage/css/style.css" />
	<script type="text/javascript" src="/static/frontpage/js/script.js"></script>
{% endblock %}

 
{% block content %}
<center>
<form class="searchform" action="/search" method="get">
        <input id="q" name="q" class="searchfield" type="text" value="{{ q|urlencode }}" />
        <input class="searchbutton" type="submit" value="Go" />
</form>
<br />
<small>About {{ rsp.response.numFound }} results in {{ qtime }} secs</small>
</center>
<div id="searchresults">
<ol>
{% for doc in rsp.response.docs %}
	<li>

		{% if doc.title.0 %}
			<p><b><a href="{{ doc.attr_stream_name.0 }}">{{ doc.title.0 }}</a></b>
		{% else %}
			<p><b><a href="{{ doc.attr_stream_name.0 }}">Untitled document</a></b>
		{% endif %}
		[{{ doc.attr_stream_content_type.0 }}]<br />

		{% if doc.author or doc.attr_created.0 %}
			Created 
			{% if doc.author %}
				by <i>{{ doc.author }}</i>
			{% endif %}
			{% if doc.attr_created.0 %}
				on {{ doc.attr_created.0 }}
			{% endif %}
		{% endif %}
		</p>
	</li>	
{% endfor %}
</ol>
</div>
{% endblock %}

