{% extends "common/base.html" %}

{% block html_head %}
  <link rel="stylesheet" href="/static/search/css/style.css" />
  <link rel="stylesheet" type="text/css"
   href="/static/frontpage/css/style.css" />
  <script type="text/javascript"
   src="/static/frontpage/js/script.js"></script>
{% endblock %}

{% block content %}

<div class = "pageTitle">
	Everything You Need to Know About CSmart
</div>

<br/>

<p>
	<div class = "about">
		<p>The ability for educators to effectively find and leverage existing curricular materials is a critical factor in helping to improve the quality of education and achieve more positive learning outcomes. While many previous efforts have attempted to build repositories of course materials, these efforts have been hampered by factors such as a lack of efficient search facilities, a dearth of available/stored materials, an inability to find quality materials, or the user perception of commercial interest in the repository.</p>
	<p>Our goal in this work is not simply to create yet another repository of educational materials. Rather we seek to address the shortcomings of existing repositories by providing the appropriate affordances for search (easy accessibility from general search engines) and user feedback/ratings. Moreover, by proactively seeking an initial set of content, we can help to break the lack-of-content/lack-of-usage cycle that plagues most existing systems. We seek to develop a prototype along these lines with enough content to be a proof-of-concept for such a system. Based on our initial results and usage profiles, we can lay a foundation for how to best proceed in making such a system more broadly used by the CS educational community.</p>
	</div>
</p>
{% endblock %}
