<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /> 
<title>csmart</title> 
<link rel="stylesheet" type="text/css" href="/static/common/css/jqModal.css" />
<link rel="stylesheet" type="text/css" href="/static/common/css/registration.css" />
<link rel="stylesheet" type="text/css" href="/static/common/css/style.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<script type="text/javascript" src="/static/common/js/jquery-1.2.6.pack.js"></script>
<script type="text/javascript" src="/static/common/js/jqModal.js"></script>
<script type="text/javascript" src="/static/common/js/script.js"></script>
<script type="text/javascript" src="/static/common/js/registration.js"></script>
