ol dl li {
list-style-type:decimal;
list-style-position: outside;
font-size:60pt;
position: relative;
top: 70px;
left: 65px;
line-height:normal;
color:#DDD;
_color:#FFF;; /* show to IE */
}
ol dl li dt {
_margin-top: -70px;
}
ol dl li dd {
width: 400px;
}
ol dl li dt, ol dl li dd {
_list-style-type:decimal;
_list-style-position: outside;
color:#111;
font-size:0px;
line-height:normal;
font-size:small;
position: relative;
top: -70px;
left: -70px;
}
dt {
font-weight:bold;
margin-top: 10px;
margin-bottom: 5px;
}
dd {
background-color: #eeeee7;
padding: 7px;
}

ul li{
	font-size: 10pt;
}

/* LIST #2 */
#searchresults { width:100%; }
#searchresults ol { font-style:italic; font-family:Georgia, Times, serif; font-size:24px; color:#000000;  }
#searchresults ol li { }
#searchresults ol li p { padding:8px 40px; font-style:normal; font-family:Arial; font-size:13px; color:#222222; border-left: 1px solid #999; }
#searchresults ol li p em { display:block;  }

.comment_name_name {font-weight:bold}

#rateStatus{float:left; clear:both; width:100%; height:20px; }
.rateMe{float:left; clear:both; width:100%; height:auto; padding:0px; margin:10px;}
.rateMe li{float:left;list-style:none;}
.rateMe li .star:hover,
.rateMe .star.on1{background:url(../img/lightyellowstar.jpg) no-repeat; }
.rateMe .star.on2{background:url(../img/yellowstar.jpg) no-repeat; }
.rateMe .star.on3{background:url(../img/orangestar.png) no-repeat; }
.rateMe .star.on4{background:url(../img/pinkstar.png) no-repeat; }
.rateMe .star.on5{background:url(../img/redstar.jpg) no-repeat; }
.rateMe .star{float:left;background:url(../img/graystar.png) no-repeat; width:25px; height:25px;}
#ratingSaved{display:none;}
.saved{color:red; }

label input {
    display: block;
    float: left;
    margin-bottom: 10px;
}
        
label {
    text-align: left;
    width: 100px;
    padding-right: 20px;
	margin-left: 10px;
}
