<!DOCCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /> 
	<title>csmart</title> 
	<link rel="stylesheet" href="/static/common/css/style.css" />
	<link rel="stylesheet" href="/static/frontpage/css/style.css" />
	<script type="text/javascript" src="/static/frontpage/js/script.js"></script>
</head> 
 
<body> 
<div class="fullcenter">
<img src="static/frontpage/img/logo.png" align="middle" width="256" height="211"/>
<form class="searchform" action="/search" method="get"> 
	<input id="q" name="q" class="searchfield" type="text" value="Search for material..." onfocus="searchBarFocus()" onblur="searchBarBlur()" /> 
	<input class="searchbutton" type="submit" value="Go" /> 
</form> 
<br />
<div class="footer">
	<center><a href="">about</a>  | <a href="">stanford university</a> | <a href="">contact</a> </center>
</div>
</div>
</body> 
</html> 

